---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.astro";
import Hero from "../components/index/hero.astro";
import Card from "../components/index/card.astro";
import Show from "../components/show.astro";
import Scroll from "../components/scroll.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Welcome to Astro.">
  <Nav />
  <main>
    <Hero />
    <Card />
    <Show />
    <Scroll />
  </main>
  <Footer />
</Layout>
