---
interface Props {
  variant?: "purple" | "green" | "blue" | "pink";
  size?: "sm" | "md" | "lg" | "xl";
}

const variantClasses = {
  green: "bg-green-300/30 text-green-300",
  pink: "bg-pink-300/30 text-pink-300",
  blue: "bg-blue-100 text-blue-300",
  purple: "bg-purple-100 text-purple-300",
};

const sizeClasses = {
  sm: "py-2 px-3 lg:text-base md:text-sm text-xs",
  md: " p-2 lg:p-8 lg:text-lg md:text-base text-sm",
  lg: "py-4 px-6 lg:text-xl md:text-lg text-base",
  xl: "py-5 px-8 lg:text-2xl md:text-xl text-lg",
};

const { variant = "purple", size = "md" } = Astro.props;
---

<div
  class:list={[
    "flex flex-col items-center justify-center rounded-3xl text-center duration-300 ease-in-out hover:scale-105 hover:shadow-xl",
    variantClasses[variant],
    sizeClasses[size],
  ]}
>
  <slot />
</div>
