---
import { Menu } from "lucide-astro";
import Button from "./button.astro";
import Container from "./container.astro";
import H3 from "./h3.astro";
---

<Container />
<nav class="fixed left-0 right-0 top-0 z-40 w-full bg-white py-4">
  <Container className="flex w-full items-center justify-between gap-5">
    <a href=""
      ><svg
        width="100"
        viewBox="0 0 135 44"
        fill="none"
        class="h-full"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M45.4999 19.6967H31.6393L43.6428 12.9942L41.261 9.00451L29.2575 15.707L36.1871 4.09924L32.0614 1.79595L25.1318 13.4024V0H20.3682V13.4037L13.4372 1.79595L9.31147 4.09924L16.2411 15.7057L4.23898 9.00451L1.85717 12.9942L13.8607 19.6967H0V24.3033H13.8593L1.85717 31.0045L4.23898 34.9942L16.2425 28.293L9.31147 39.9008L13.4372 42.2041L20.3682 30.5963V44H25.1318V30.3093L32.1896 42.1323L36.0577 39.9725L28.9985 28.1482L41.2596 34.9942L43.6414 31.0045L31.6393 24.3033H45.4986V19.6967H45.4999ZM22.75 28.263C19.1732 28.263 16.2735 25.4589 16.2735 22C16.2735 18.5411 19.1732 15.737 22.75 15.737C26.3267 15.737 29.2265 18.5411 29.2265 22C29.2265 25.4589 26.3267 28.263 22.75 28.263Z"
          fill="#565ADD"></path><path
          d="M59.2168 41.4252V15.5754H64.1234V41.4252H59.2168Z"
          fill="#252434"></path><path
          d="M106.282 23.2324H110.967V25.4511C111.963 23.677 114.289 22.7151 116.281 22.7151C118.753 22.7151 120.745 23.7876 121.667 25.7461C123.105 23.5274 125.025 22.7151 127.424 22.7151C130.78 22.7151 133.99 24.7485 133.99 29.6274V41.4198H129.231V30.6262C129.231 28.6666 128.27 27.1884 126.02 27.1884C123.917 27.1884 122.662 28.8151 122.662 30.7748V41.421H117.793V30.6262C117.793 28.6666 116.797 27.1884 114.582 27.1884C112.442 27.1884 111.187 28.7783 111.187 30.7748V41.421H106.282V23.2324Z"
          fill="#252434"></path><path
          d="M75.2159 41.9494C69.6884 41.9494 65.6855 37.8437 65.6855 32.3293C65.6855 26.9026 69.6754 22.6992 75.2159 22.6992C80.7835 22.6992 84.7462 26.9416 84.7462 32.3293C84.7462 37.8036 80.7412 41.9494 75.2159 41.9494ZM75.2159 27.1509C72.3649 27.1509 70.046 29.4738 70.046 32.3303C70.046 35.1868 72.3649 37.5097 75.2159 37.5097C78.0669 37.5097 80.3847 35.1868 80.3847 32.3303C80.3847 29.4738 78.0669 27.1509 75.2159 27.1509Z"
          fill="#252434"></path><path
          d="M95.2222 41.9497C89.6943 41.9497 85.6914 37.8439 85.6914 32.3295C85.6914 26.9028 89.6812 22.6995 95.2222 22.6995C100.789 22.6995 104.752 26.9419 104.752 32.3295C104.752 37.8038 100.745 41.9497 95.2222 41.9497ZM95.2222 27.0893C92.3383 27.0893 89.9922 29.4405 89.9922 32.3284C89.9922 35.2163 92.3383 37.5674 95.2222 37.5674C98.1055 37.5674 100.451 35.2163 100.451 32.3284C100.45 29.4405 98.1038 27.0893 95.2222 27.0893Z"
          fill="#252434"></path><path
          d="M100.189 8.6874C100.189 6.98599 99.1145 6.33779 97.1304 5.85168C95.8909 5.52758 95.5599 5.28457 95.5599 4.87947C95.5599 4.39336 95.9728 4.15027 96.8002 4.15027C97.7923 4.15027 98.7844 4.47437 99.7765 4.87947V2.77295C99.1145 2.44885 98.0397 2.12476 96.883 2.12476C94.6506 2.12476 93.4102 3.17805 93.4102 4.87947C93.4102 6.49988 94.485 7.31008 96.3865 7.71519C97.6268 7.9582 98.0397 8.20129 98.0397 8.7684C98.0397 9.17351 97.7096 9.4976 96.8002 9.4976C95.6426 9.4976 94.3197 9.0925 93.4102 8.52539V10.7129C94.1543 11.118 95.3117 11.4421 96.8002 11.4421C99.1145 11.5231 100.189 10.3888 100.189 8.6874Z"
          fill="#252434"></path><path
          d="M125.898 2.4126V11.6515H127.904V4.6398L128.74 6.53711L131.582 11.734H134.09V2.4126H132.084V8.35186L131.332 6.61958L129.075 2.4126H125.898Z"
          fill="#252434"></path><path
          d="M113.468 2.41284H111.208V11.7343H113.468V2.41284Z"
          fill="#252434"></path><path
          d="M76.4668 2.4126V11.734H80.8844L81.5512 9.73664H78.5505V2.4126H76.4668Z"
          fill="#252434"></path><path
          d="M67.7158 2.4126V4.41007H70.1923V11.734H72.4126V4.41007H75.06V2.4126H67.7158Z"
          fill="#252434"></path><path
          d="M64.3576 2.4126H61.5775L58.3887 11.734H60.8417L61.3323 10.1528C61.9046 10.3192 62.477 10.4024 63.0494 10.4024C63.6217 10.4024 64.1941 10.3192 64.7665 10.1528L65.2571 11.734H67.7101L64.3576 2.4126ZM62.9676 8.48823C62.5588 8.48823 62.15 8.40494 61.8229 8.32172L62.9676 4.24357L64.1124 8.32172C63.7036 8.40494 63.3765 8.48823 62.9676 8.48823Z"
          fill="#252434"></path><path
          d="M88.5463 2.4126H85.682L82.3965 11.734H84.9238L85.4293 10.1528C86.0189 10.3192 86.6087 10.4024 87.1984 10.4024C87.7881 10.4024 88.3778 10.3192 88.9675 10.1528L89.473 11.734H92.0004L88.5463 2.4126ZM87.1142 8.48823C86.6929 8.48823 86.2717 8.40494 85.9347 8.32172L87.1142 4.24357L88.2936 8.32172C87.9566 8.40494 87.5354 8.48823 87.1142 8.48823Z"
          fill="#252434"></path><path
          d="M121.028 2.41284H118.163L114.878 11.7343H117.405L117.911 10.153C118.5 10.3194 119.09 10.4027 119.68 10.4027C120.269 10.4027 120.859 10.3194 121.449 10.153L121.955 11.7343H124.482L121.028 2.41284ZM119.596 8.48847C119.174 8.48847 118.753 8.40518 118.416 8.32197L119.596 4.24381L120.775 8.32197C120.438 8.40518 120.017 8.48847 119.596 8.48847Z"
          fill="#252434"></path><path
          d="M108.956 8.6874C108.956 6.98599 107.881 6.33779 105.897 5.85168C104.657 5.52758 104.326 5.28457 104.326 4.87947C104.326 4.39336 104.739 4.15027 105.567 4.15027C106.559 4.15027 107.551 4.47437 108.543 4.87947V2.77295C107.881 2.44885 106.806 2.12476 105.65 2.12476C103.417 2.12476 102.177 3.17805 102.177 4.87947C102.177 6.49988 103.252 7.31008 105.153 7.71519C106.393 7.9582 106.806 8.20129 106.806 8.7684C106.806 9.17351 106.476 9.4976 105.567 9.4976C104.409 9.4976 103.086 9.0925 102.177 8.52539V10.7129C102.921 11.118 104.078 11.4421 105.567 11.4421C107.798 11.5231 108.956 10.3888 108.956 8.6874Z"
          fill="#252434"></path></svg
      ></a
    >
    <ul class="hidden gap-5 lg:flex">
      <li>
        <a href="">lorem</a>
      </li>
      <li>
        <a href="">lorem</a>
      </li>
      <li>
        <a href="">lorem</a>
      </li>
      <li>
        <a href="">lorem</a>
      </li>
      <li>
        <a href="">lorem</a>
      </li>
      <li>
        <a href="">lorem</a>
      </li>
      <li>
        <a href="">lorem</a>
      </li>
    </ul>
    <div class="hidden gap-5 sm:flex">
      <Button
        ><H3 size="sm" className="text-white" weight="normal">
          Get loom For Free
        </H3>
      </Button>
      <Button variant="gray">
        <H3 size="sm" className="text-indigo-400" weight="normal">
          Contact Sales
        </H3>
      </Button>
    </div>
    <div class="flex sm:hidden">
      <Button><Menu /></Button>
    </div>
  </Container>
</nav>
