---
import Button from "../button.astro";
import Container from "../container.astro";
import { Image } from "astro:assets";
import Pes from "../../src/pexels-ganinph-7564115.jpg";
---

<Container>
  <div
    class="grid gap-12 rounded-3xl bg-indigo-950 px-4 py-14 sm:px-16 sm:py-28 md:grid-cols-2"
  >
    <div class="hidden h-full min-h-32 rounded-md bg-gray-400 sm:block">
      <Image src={Pes} height={1040} width={1300} alt={"pes"} />
    </div>
    <div class="">
      <h3 class="text-zinc-400">New!</h3>
      <h1 class="text-xl font-semibold text-zinc-50">
        You record it, Loom AI writes it for you
      </h1>
      <div class="mt-4">
        <p class="text-zinc-400">
          Write a document, create an issue, or send a message with new AI
          workflows. Your video is instantly transformed into text, so you can
          complete important tasks faster than ever.
        </p>
      </div>
      <div class="mt-4"><Button>Try loom AI</Button></div>
    </div>
  </div>
</Container>
